<div class="container-fluid">
    <div class="row">

<%= link_to "", places_read_bus_stop_page_one_path, class: "previous-page col-md-2", method: :get %>
<div class="col-md-1"></div>
<img class="col-md-6" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-2/imgs/church-crop-700_large.jpg">
<div class="col-md-1"></div>
<%= link_to '', places_read_class_page_three_path, class: "next-page col-md-2", method: :get %>
</div>
    <div class="row">
        <div class="col-md-5"></div>
        <button class="col-md-2">church</button>
        <div class="col-md-5"></div>
    </div>
</div>
<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-2/audio/church.mp3"></audio>

