<%= link_to "", places_read_class_page_three_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-2/imgs/downtown-crop-700_large.jpg">

<button></button>

<audio id="sound" src=""></audio>

<%= link_to '', places_read_home_page_five_path, class: "next-page", method: :get %>