<div class="container-fluid">
    <div class="row">

<%= link_to "", places_read_home_page_five_path, class: "previous-page col-md-2", method: :get %>
<div class="col-md-1"></div>
<img class="col-md-6" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-2/imgs/mosque-crop-700_large.jpg">
<div class="col-md-1"></div>
<%= link_to '', places_read_park_page_seven_path, class: "next-page col-md-2", method: :get %>
</div>
    <div class="row">
        <div class="col-md-5"></div>
        <button class="col-md-2">mosque</button>
        <div class="col-md-5"></div>
    </div>
</div>
<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-2/audio/mosque.mp3"></audio>


