<div class="container-fluid">
    <div class="row">
        <%= link_to "", foods_read_chicken_page_four_path, class: "previous-page  col-md-2", method: :get %>
            <div class="col-md-1"></div>
            <img class="col-md-6" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/fishonplate-crop-700_large.jpg">
            <div class="col-md-1"></div>
            <%= link_to "", foods_read_pasta_page_six_path, class: "next-page col-md-2", method: :get %>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <button class="col-md-2">fish</button>
        <div class="col-md-5"></div>
    </div>
</div>
<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/fish.mp3" type="audio/ogg"></audio>