<%= link_to "", foods_read_pasta_page_six_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/pork-crop-700_large.jpg">

<button>pork</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/pork.mp3"></audio>



<%= link_to "", foods_read_potato_page_eight_path, class: "next-page", method: :get %> 