<%= link_to "", foods_read_pork_page_seven_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/potato-crop-700_large.jpg">

<button>potato</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/potato.mp3" type="audio/ogg"></audio>



<%= link_to "", foods_read_rice_page_nine_path, class: "next-page", method: :get %> 