<%= link_to "", foods_match_want_potatoes_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/beans-crop-700_large.jpg">



<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/do-you-want-beans%3F.mp3"></audio>

<div>
	<div id="snaptarget">
		<p>Do</p>
	</div>

	<div id="snaptarget-1">
		<p>you</p>
	</div>

	<div id="snaptarget-2">
		<p>want</p>
	</div>

	<div id="snaptarget-3">
		<p>beans?</p>
	</div>
</div>


<div>
	<div id="draggable" class="draggable random-position">
		<p>Do</p>
	</div>
	<audio id="draggable-sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/do.mp3"></audio>

	<div id="draggable-1" class="draggable random-position">
		<p>you</p>
	</div>
	<audio id="draggable-sound-1" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/you.mp3"></audio>

	<div id="draggable-2" class="draggable random-position">
		<p>want</p>
	</div>
	<audio if="draggable-sound-2" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/want.mp3"></audio>


	<div id="draggable-3" class="draggable random-position">
		<p>beans?</p>
	</div>
	<audio if="draggable-sound-3" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/beans.mp3"></audio>
</div>

<%= link_to "", foods_match_want_rice_path, class: "next-page", method: :get %>
