<%= link_to "", actions_read_cook_page_one_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/imgs/dolaundry-crop-700_large.jpg">

<button></button>

<audio id="sound" src=""></audio>

<%= link_to '', actions_read_playsoccer_page_three_path, class: "next-page", method: :get %>