<%= link_to "", actions_read_dolaundry_page_two_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/imgs/playsoccer-crop-700_large.jpg">

<button></button>

<audio id="sound" src=""></audio>

<%= link_to '', actions_read_sleep_page_four_path, class: "next-page", method: :get %>