<img src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/pork-crop-700_large.jpg">

<button>pork</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/pork.mp3"></audio>

<%= link_to "Previous Page", book_one_pasta_page_seven_path %>

<%= link_to "Next Page", book_one_potato_page_nine_path %> 