


body {
	background-color: orange;
}

p {
	font-size: 60px;
	
}

button {
	margin: 20px auto;
	font-size: 45px;
}

img {
	margin-top: 10px;
	margin-bottom: 15px;
}

.home-page {
	margin-left: -125px;
}

.camouflage {
	background-color: orange !important;
	color: orange;
}

#draggable,
#draggable-1,
#draggable-2,
#draggable-3,
#draggable-4,
#draggable-5,
#draggable-6,
#draggable-7 {
	border-style: solid;
	border-color: grey;

}


#draggable,
#draggable-1,
#draggable-2,
#draggable-3,
#draggable-4,
#draggable-5,
#draggable-6,
#draggable-7,
#droppable,
#droppable-1,
#droppable-2,
#droppable-3,	
#droppable-4,
#droppable-5,
#droppable-6,
#droppable-7 {
	background-color: lightgrey;
}

.previous-page {
	margin-top: 250px;
	content: url(https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-imgs/left-arrow.svg);
}


.next-page {
	margin-top: 250px;
  content: url(https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-imgs/right-arrow-black-shape.svg);

}



.do {
	margin-right: -23px;
}

/*.you {
	margin-left: -16px;
}*/

.want {
	margin-right: 8px;
	margin-left: -3px;
}

.chicken {
	margin-left: -90px;
}

.question {
	margin-left: -19px;
}

.question-parent {
	width: 44px;
}

.foods-match-home {
	width: 1000px;
}



