<%= link_to "", book_one_read_home_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/beef-crop-700_large.jpg">


<button>beef</button>


<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/beef.mp3"></audio>



<%= link_to "", book_one_read_bread_page_three_path, class: "next-page", method: :get %>
