<%= link_to "", book_one_read_beef_page_two_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/bread-crop-700_large.jpg">
<button>bread</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/bread.mp3"></audio>



<%= link_to "", book_one_read_cafeteria_page_four_path, class: "next-page", method: :get   %>


