<%= link_to "", book_one_read_bread_page_three_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/cafeteria-crop-700_large.jpg">


<button>cafeteria</button>
<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/cafeteria.mp3"></audio>



<%= link_to "", book_one_read_chicken_page_five_path, class: "next-page", method: :get %>