<%= link_to "", book_one_read_cafeteria_page_four_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/chicken-crop-700_large.jpg">

<button>chicken</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/chicken.mp3"></audio>



<%= link_to "", book_one_read_fish_page_six_path, class: "next-page", method: :get %>