<%= link_to "", root_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/beans-crop-700_large.jpg">

<button>beans</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/speech_20170720203409154.mp3" type="audio/ogg"></audio>

<%= link_to '', book_one_read_beef_page_two_path, class: "next-page", method: :get %>
