<%= link_to "", book_one_read_potato_page_nine_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/imgs/rice-crop-700_large.jpg">

<button>rice</button>

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-1/audio/rice.mp3"></audio>



<%= link_to "", book_one_read_salad_page_eleven_path, class: "next-page", method: :get %>