<%= link_to "", actions_match_i_cleaned_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/imgs/cook-crop2-700_large.jpg">

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/audio/i-cooked.mp3"></audio>

<div>
	<div id="snaptarget">
		<p>I</p>
	</div>

	<div id="snaptarget-1">
		<p>cooked</p>
	</div>

	<div id="snaptarget-2">
		<p>.</p>
	</div>
</div>


<div>
	<div id="draggable" class="draggable random-position">
		<p>I</p>
	</div>
	<audio id="draggable-sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/i.mp3"></audio>

	<div id="draggable-1" class="draggable random-position">
		<p>cooked</p>
	</div>
	<audio id="draggable-sound-1" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/audio/cooked.mp3"></audio>

	<div id="draggable-2" class="draggable random-position">
		<p>.</p>
	</div>
</div>

<%= link_to "", actions_match_did_laundry_path, class: "next-page", method: :get %>
