<%= link_to "", places_match_are_playing_soccer_path, class: "previous-page", method: :get %>

<img id="center-image" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/imgs/watchTV-crop-700_large.jpg">

<audio id="sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/audio/he-is-watching-tv.mp3"></audio>

<div>
	<div id="snaptarget">
		<p>He</p>
	</div>

	<div id="snaptarget-1">
		<p>is</p>
	</div>

	<div id="snaptarget-2">
		<p>watching</p>
	</div>

	<div id="snaptarget-3">
		<p>TV</p>
	</div>

	<div id="snaptarget-4">
		<p>.</p>
	</div>
</div>

<div>
	<div id="draggable" class="draggable random-position">
		<p>He</p>
	</div>
	<audio id="draggable-sound" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/he.mp3"></audio>

	<div id="draggable-1" class="draggable random-position">
		<p>is</p>
	</div>
	<audio id="draggable-sound-1" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/is.mp3"></audio>

	<div id="draggable-2" class="draggable random-position">
		<p>watching</p>
	</div>
	<audio id="draggable-sound-2" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/book-actions/audio/watching.mp3"></audio>

	<div id="draggable-3" class="draggable random-position">
		<p>TV</p>
	</div>
	<audio id="draggable-3" src="https://s3.us-east-2.amazonaws.com/abc-english-learning-assets/shared-audio/tv.mp3"></audio>

	<div id="draggable-4" class="draggable random-position">
		<p>.</p>
	</div>
</div>

<%= link_to "", places_match_is_sleeping_path, class: "next-page", method: :get %>
